<script type="text/javascript">
$(document).ready(function() {
  var dt_opts = {
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    "iDisplayLength": 50,
    "stateSave": true
  };

  $('#samples-tbl').dataTable(dt_opts);
});
</script>

<div class="row">
  <h2 id="nav-tabs">[% title %]</h2>
  <div class="bs-component">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
      <li><a href="#samples" data-toggle="tab">Samples ([% method.samples_rs.count OR '0' %])</a></li>
    </ul>

    <div id="tabContent" class="tab-content">
      <div class="tab-pane fade active in" id="info">
        <br/>
        <table class="table">
          <tr>
            <th>Sequencing Method</th>
            <td>[% method.sequencing_method %]</td>
          </tr>
        </table>
      </div>

      <div class="tab-pane fade" id="samples">
        <br/>
        [% IF method.samples_rs.count > 0 %]
          <table id="samples-tbl" class="table" cellspacing="0" width="100%">
           <thead>
           <tr>
             <th>Sample Name</th>
           </tr>
           </thead>

           <tbody>
           [% FOREACH sample IN method.samples %]
             <tr>
               <td><a href="/sample/view/[% sample.id %]">[% sample.sample_name %]</a></td>
             </tr>
           [% END %]
           </tbody>
          </table>
        [% ELSE %]
          No sample.
        [% END %]
        <p>
      </div>
    </div>
  <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
</div>

</div>
