[% SET iplant = "http://mirrors.iplantcollaborative.org/browse" %]
<div class="row">
  <h1>[% title %]</h1>
  <table class="table">
    <tr>
      <th>Project</th>
      <td><a href="/project/view/[% assembly.project.id %]">[% assembly.project.project_name %]</a></td>
    </tr>
    <tr>
      <th>Name</th>
      <td>
        [% assembly.assembly_name %]&nbsp;<a href="[% c.req.url %].json"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
            </td>
      </td>
    </tr>
    <tr>
      <th>Phylum</th>
      <td>[% assembly.phylum %]</td>
    </tr>
    <tr>
      <th>Class</th>
      <td>[% assembly.class %]</td>
    </tr>
    <tr>
      <th>Genus</th>
      <td>[% assembly.genus %]</td>
    </tr>
    <tr>
      <th>Species</th>
      <td>[% assembly.species %]</td>
    </tr>
    <tr>
      <th>PCR Amp?</th>
      <td>[% assembly.pcr_amp %]</td>
    </tr>
    <tr>
      <th>Samples ([% assembly.samples_rs.count %])</th>
      <td>
        [% IF assembly.samples_rs.count > 0 %]
          <ul>
          [% FOREACH sample IN assembly.samples %]
          <li><a href="/sample/view/[% sample.sample_id %]">[% sample.sample_name %]</a></li>
          [% END %]
          </ul>
        [% ELSE %]
          None.
        [% END %]
      </td>
    </tr>
    <tr>
      <th>Annotations</th>
      <td>
        [% IF assembly.annotations_file %]
          <a href="[% iplant %][% assembly.annotations_file %]"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;[% assembly.annotations_file %]</a>
        [% ELSE %]
          N/A
        [% END %]
      </td>
    </tr>
    <tr>
      <th>Peptides</th>
      <td>
        [% IF assembly.peptides_file %]
          <a href="[% iplant %][% assembly.peptides_file %]"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;[% assembly.peptides_file %]</a>
          [% ELSE %]
            N/A
        [% END %]
      </td>
    </tr>
    <tr>
      <th>CDS</th>
      <td>
        [% IF assembly.cds_file %]
          <a href="[% iplant %][% assembly.cds_file %]"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;[% assembly.cds_file %]</a>
        [% ELSE %]
          N/A
        [% END %]
      </td>
    </tr>
    <tr>
      <th>NT</th>
      <td>
        [% IF assembly.nucleotides_file %]
          <a href="[% iplant %][% assembly.nucleotides_file %]"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;[% assembly.nucleotides_file %]</a>
        [% ELSE %]
          N/A
        [% END %]
      </td>
    </tr>
  </table>
</div>
