<h1>Create Cruise</h1>

<div class="row">
  <form role="form" method="post" action="/admin/cruise/insert">
    <div class="form-group">
      <label for="cruise_name">Cruise Name</label><br/>
      <input type="text" name="cruise_name" id="cruise_name" size="60">
    </div>

    <div class="text-center form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
