<!DOCTYPE html>
[%- DEFAULT title='muSCOPE' -%]
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.ico">
    <link rel="search" type="application/opensearchdescription+xml" href="opensearch.xml" title="[% config.site_title %] Search" />

    <title>[% config.site_title %] [% title %]</title>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=[% config.gmap_api_key OR "" %]&libraries=drawing"></script>

    <script src="/js/bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bower_components/jquery-ui/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/js/bower_components/underscore/underscore-min.js"></script>

    <script src="/js/bower_components/agave-file-browser/AgaveFileBrowser.js"></script>

    <script src="/js/bower_components/jquery/src/sizzle/dist/sizzle.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/js/bower_components/handlebars/handlebars.runtime.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/templates/templates.js" type="text/javascript" charset="utf-8"></script>

    <script src="/js/bower_components/datatables/media/js/jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bower_components/datatables/media/js/dataTables.jqueryui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bower_components/datatables/media/js/dataTables.material.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bower_components/datatables/media/js/dataTables.semanticui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bower_components/datatables/media/js/dataTables.uikit.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bower_components/datatables/media/js/dataTables.bootstrap4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bower_components/datatables/media/js/dataTables.foundation.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bower_components/datatables/media/js/dataTables.bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

    <link href="/js/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!--
    <link href="/js/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/datatables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/datatables/media/css/dataTables.foundation.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/datatables/media/css/dataTables.material.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/datatables/media/css/dataTables.jqueryui.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/datatables/media/css/dataTables.uikit.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/datatables/media/css/dataTables.semanticui.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/angular-filemanager/dist/angular-filemanager.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" type="text/css" />
    -->

    <!-- jstree -->
    <link rel="stylesheet" href="/js/bower_components/jstree/dist/themes/default/style.min.css" />
    <script src="/js/bower_components/jstree/dist/jstree.min.js" type="text/javascript" charset="utf-8"></script>

    <!-- custom -->
    <link href="/css/muscope.css" rel="stylesheet" type="text/css" />
    <link href="/css/carousel.css" rel="stylesheet" type="text/css" />
    <link href="/css/readable.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/img/nav-header-trans.png" height="50"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/search">General Search</a></li>
                <li><a href="/sample/search">Sample Metadata Search</a></li>
                <li><a href="/sample/map_search">Sample Map Search</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Browse<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/investigator/list">Investigators</a></li>
                <li><a href="/cruise/list">Cruises</a></li>
                <li><a href="/sample/list">Samples</a></li>
                <li><a href="/app/list">Apps</a></li>
                <li><a href="/job/list">Jobs</a></li>
                <li><a href="/cart/view">Cart ([% c.session.items.size OR '0' %])</a></li>
              </ul>
            </li>
            <li><a href="/login">Login</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Other<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="http://muscope.org">About</a></li>
                <li><a href="ftp://ftp.muscope.org">FTP</a></li>
                <li><a href="/feedback">Feedback</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" role="search" action="/search" method="GET">
            <div class="form-group">
              <input type="text" class="form-control" id="query" name="query"[% IF c.req.param('query') %] value="[% c.req.param('query') %]" [% END %]>
            </div>
            <button type="submit" class="btn">Search</button>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      [% content %]
    </div>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '[% config.google_analytics_key %]', 'auto');
    ga('send', 'pageview');

    </script>
    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted"><a href="http://hurwitzlab.org">&copy; Hurwitz Lab</a></span>
      </div>
    </footer>
  </body>
</html>
