[% USE Comma %]

<script>
$(document).ready(function() {
  $('#projects').dataTable({
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    "iDisplayLength": 10,
    "stateSave": true
  });
});
</script>

<div class="row">
  <h1>Projects ([% projects.size OR '0' %])</h1>
  [% IF domain %]
    <div class="well well-sm text-center">
    <a href="[% c.req.url.path %]"><span class="glyphicon glyphicon-remove-circle"></span>&nbsp;[% domain %] only</a>
    </div>
  [% END %]
  [% IF projects.size > 0 %]
  <div class="pull-right">
    <a href="/download"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
  </div>
  <table id="projects" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>PI</th>
        <th>Domain of Life</th>
        <th>&#35;&nbsp;Samples</th>
        <th>Reads</th>
        <th>Metadata</th>
        <th>Assemblies</th>
        <th>Peptides</th>
      </tr>
    </thead>
    <tbody>
    [% SET iplant="http://mirrors.iplantcollaborative.org/browse" %]
    [% FOREACH project IN projects %]
      <tr>
        <td><a href="/project/view/[% project.project_id %]">[% project.project_name | truncate(70) %]</a></td>
        <td>[% project.pi | truncate(30) %]
          [% 
            IF project.investigators.size > 0; 
              SET investigators=[]; 
              FOREACH inv IN project.investigators;
                investigators.push("<a href=\"/investigator/view/" _ inv.investigator_id _ "\">" _ inv.investigator_name _ "</a>");
              END;
              investigators.join(', ');
            ELSE;
              'NA';
            END;
          %]
        
        </td>
        <td>
          [% 
            IF project.domains.size > 0; 
              SET d=[]; 
              FOREACH domain IN project.domains;
                d.push("<a href=\"/project/list?domain=${domain}\">$domain</a>");
              END;
              d.join(', ');
            ELSE;
              'Unknown';
            END;
          %]
        </td>
        <td align="right">[% project.num_samples OR '0' | comma %]</td>
        <td align="center">[% IF project.read_file %]<a target="_blank" href="[% iplant %][% project.read_file %]"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>[% ELSE %]&nbsp;[% END %]</td>
        <td align="center">[% IF project.meta_file %]<a target="_blank" href="[% iplant %][% project.meta_file %]"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>[% ELSE %]&nbsp;[% END %]</td>
        <td align="center">[% IF project.assembly_file %]<a target="_blank" href="[% iplant %][% project.assembly_file %]"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>[% ELSE %]&nbsp;[% END %]</td>
        <td align="center">[% IF project.peptide_file %]<a target="_blank" href="[% iplant %][% project.peptide_file %]"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>[% ELSE %]&nbsp;[% END %]</td>
      </tr>
    [% END %]
    </tbody>
  </table>
  [% ELSE %]
    No projects.
  [% END %]
</div>
